absl-py==0.13.0
astunparse==1.6.3
certifi==2021.10.8
cycler==0.11.0
distlib==0.3.4
filelock==3.6.0
flatbuffers==1.12
fonttools==4.32.0
gast==0.4.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
Markdown==3.3.4
matplotlib==3.5.1
numpy==1.19.5
opencv-contrib-python==4.5.3.56
opencv-python==4.5.5.64
opt-einsum==3.3.0
Pillow==9.1.0
pipenv==2022.1.8
tensorboard==2.6.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
virtualenv==20.13.1
virtualenv-clone==0.5.7
wincertstore==0.2
